@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-size: 12px;
}

/* @media(max-width: 1023px)  {
  #menu-items{
    display: none;
  }

  #hamburger-menu{
    display: flex;
  }
} */